.grid{
display: grid;
grid-template-columns:320px 320px 960px;
grid-template-rows: 125px 400px;
grid-gap: 10px;
background-color: aquamarine;
text-align: center;
font-size: 30px;
color:white;
background-image: url(../images/technique.jpg);
}
header{
background-color: rgb(216, 250, 121);
grid-column: 1/3;
}

/*navigation--------------------------*/
nav{
    
    
    background-color: brown;
    grid-column: 3/5;
    
}
.ul-header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    /*text-decoration: none;
    list-style: none;*/
}
.li-header{
    list-style-type: none;
    justify-content: center;
}

a{

text-decoration: none;
color:white;
}
/*section---------------------------*/
section{

}
.section-left{
  
    background-color: rgba(95, 53, 212, 0.700);
    width: 400px;
    
}
.section-midle{
 
    background-color: rgb(43, 137, 226);
    width: 400px;
}
.section-right{
 
    background-color: rgb(226, 43, 226);
    width: 400;
}
.section-global{
display: flex;
flex-direction: row;
justify-content: space-around;
grid-column: 1/5;
}
